[user]
  name = Harry
  email = harry.robertson@gmail.com
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = auto
[branch]
  autosetuprebase = always
[push]
  default = tracking
[gc]
  # Don't run gc --auto for me after some commands. 
  # I will run git-gc from time to time by hand.
  auto = 0

[alias]
  co = checkout
  l = log --pretty=format:\"%h %ad | [%an] %s%d\" --graph --date=short
  cp = cherry-pick
  c = commit
  s = status
  b = branch
  a = add
  d = diff
  f = filename # git-filename script: https://github.com/cespare/git-scripts/blob/master/git-filename

  ss = stash
  sp = stash pop

