[user]
  name = Harry Robertson
  email = harry.robertson@gmail.com
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = auto
[branch]
  autosetuprebase = always
[push]
  default = tracking
[pull]
  rebase = true
[gc]
  # Don't run gc --auto for me after some commands.
  # I will run git-gc from time to time by hand.
  auto = 0

[alias]
  co = checkout
  cp = cherry-pick
  c = commit
  s = status
  b = branch
  a = add
  d = diff
  ss = stash
  sp = stash pop

  f = filename # git-filename script: https://github.com/cespare/git-scripts/blob/master/git-filename
  l = log --pretty=format:\"%h %ad | [%an] %s%d\" --graph --date=short
  last = "!git log --oneline -n 1 --format='%H'"

[core]
  excludesfile = /Users/harry/.gitignore
  editor = /usr/bin/vim
  # Install delta with `brew install git-delta`
  pager = delta

[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true  # use n and N to move between diff sections
  dark = true      # or light = true, or omit for auto-detection
  line-numbers = true
  #side-by-side = true
[merge]
  conflictstyle = zdiff3