<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- From https://jcomo.me/2015/11/28/using-launchctl-as-an-anacron-replacement/ -->
<!-- This is copied into place and loaded into launchd by link_dotfiles.rb.-->
<!-- You can manually test it with `launchctl start harry.gitnote` -->
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>harry.gitnote</string>
    <key>StartCalendarInterval</key>
    <dict>
      <key>Minute</key>
      <integer>0</integer>
      <key>Hour</key>
      <integer>0</integer>
    </dict>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/hrobertson/dotfiles/gitnote.sh</string>
    </array>
    <key>StandardOutPath</key>
    <string>/Users/hrobertson/gitnote-stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/hrobertson/gitnote-stderr.log</string>
  </dict>
</plist>
